{{ partial "header" . }}

<main>

    <div class="intro">

        {{ with .Site.Params.profilePic }} <img class="profile" src="{{ . }}"> {{ end }}

        <h1>{{ .Site.Title }}</h1>

        <h2>{{ markdownify .Site.Params.Description }}</h2>

        <div class="btn-group" role="group" aria-label="...">
            <a class="btn btn-default" href="https://github.com/kevinschoon/pomo">github</a>
            <a class="btn btn-default" href="https://github.com/kevinschoon/pomo/releases">releases</a>
        </div>


    </div>

    <div class="readme">
        {{ index .Site.Data.readme "content" | markdownify }}
    </div>

</main>
