{{ partial "header" . }}

<main>

    <div class="intro">

        {{ with .Site.Params.profilePic }} <img class="profile" src="{{ . }}"> {{ end }}

        <h1>{{ .Site.Title }}</h1>

        <h2>{{ markdownify .Site.Params.Description }}</h2>

        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">
                <a href="https://github.com/kevinschoon/pomo">install pomo</a>
            </button>
        </div>


    </div>

    <div class="readme">
        {{ index .Site.Data.readme "content" | markdownify }}
    </div>

</main>
